* {
  margin: 0;
  padding: 0;
}

textarea, input {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4ddb6;
}

.btn {
  min-width: 151px;
  height: 33px;
  background-color: #d14a39;
  text-align: center;
  vertical-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 44px;
  border: 0;
  cursor: pointer;
}

.preloading {
  font-size: 20px;
  font-weight: bold;
  color: #193247;
  margin: 10px;
}